In [16]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
data_raw = pd.read_csv("movies_pandas.csv")
data_raw.head()

,Unnamed: 0,movieId,avgRating,numRatings,title,genres,genre_fantasy,genre_adventure,genre_nogenreslisted,genre_comedy,...,genre_action,genre_documentary,genre_imax,genre_drama,genre_animation,genre_horror,genre_crime,genre_war,genre_children,year
0,0,296,4.174231,67310,Pulp Fiction (1994),Comedy|Crime|Drama|Thriller,0,0,0,1,...,0,0,0,1,0,0,1,0,0,1994
1,1,1090,3.919977,15808,Platoon (1986),Drama|War,0,0,0,0,...,0,0,0,1,0,0,0,1,0,1986
2,2,3959,3.699373,2869,"Time Machine, The (1960)",Action|Adventure|Sci-Fi,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1960
3,3,2294,3.303208,10163,Antz (1998),Adventure|Animation|Children|Comedy|Fantasy,1,1,0,1,...,0,0,0,0,1,0,0,0,1,1998
4,4,6731,3.557118,1173,Day of the Dead (1985),Horror|Sci-Fi|Thriller,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1985

In [3]:
data_raw.columns

Index(['Unnamed: 0', 'movieId', 'avgRating', 'numRatings', 'title', 'genres',
       'genre_fantasy', 'genre_adventure', 'genre_nogenreslisted',
       'genre_comedy', 'genre_film-noir', 'genre_musical', 'genre_romance',
       'genre_western', 'genre_thriller', 'genre_mystery', 'genre_sci-fi',
       'genre_action', 'genre_documentary', 'genre_imax', 'genre_drama',
       'genre_animation', 'genre_horror', 'genre_crime', 'genre_war',
       'genre_children', 'year'],
      dtype='object')

In [4]:
data_select = data_raw.drop(['Unnamed: 0', 'genres'], axis=1)
data_select.head()

,movieId,avgRating,numRatings,title,genre_fantasy,genre_adventure,genre_nogenreslisted,genre_comedy,genre_film-noir,genre_musical,...,genre_action,genre_documentary,genre_imax,genre_drama,genre_animation,genre_horror,genre_crime,genre_war,genre_children,year
0,296,4.174231,67310,Pulp Fiction (1994),0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,1994
1,1090,3.919977,15808,Platoon (1986),0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,1986
2,3959,3.699373,2869,"Time Machine, The (1960)",0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1960
3,2294,3.303208,10163,Antz (1998),1,1,0,1,0,0,...,0,0,0,0,1,0,0,0,1,1998
4,6731,3.557118,1173,Day of the Dead (1985),0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,1985

In [5]:
data_select.describe()

,movieId,avgRating,numRatings,genre_fantasy,genre_adventure,genre_nogenreslisted,genre_comedy,genre_film-noir,genre_musical,genre_romance,...,genre_sci-fi,genre_action,genre_documentary,genre_imax,genre_drama,genre_animation,genre_horror,genre_crime,genre_war,genre_children
count,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000,...,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000,26744.000000
mean,58789.612436,3.133200,747.841123,0.052273,0.085515,0.009049,0.307807,0.012040,0.037990,0.150651,...,0.064313,0.129599,0.089403,0.007291,0.488409,0.037952,0.096844,0.108024,0.043860,0.041804
std,44159.344871,0.664084,3085.818268,0.222582,0.279651,0.094695,0.461595,0.109067,0.191175,0.357715,...,0.245315,0.335868,0.285330,0.085079,0.499875,0.191085,0.295751,0.310417,0.204788,0.200144
min,1.000000,0.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6795.750000,2.800000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,65880.000000,3.235294,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,99110.500000,3.565217,205.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,131262.000000,5.000000,67310.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
data_select['year'].value_counts()

2009                        1093
2011                         981
2013                         976
2012                         972
2008                         960
2010                         926
2007                         885
2006                         837
2005                         724
2014                         707
2004                         696
2002                         672
2003                         646
2001                         626
2000                         609
1998                         548
1999                         531
1997                         524
1996                         506
1995                         467
1994                         428
1993                         368
1992                         332
1988                         317
1990                         312
1991                         310
1987                         307
1989                         304
1986                         257
1985                         251
                            ...
1893                           1
1891                           1
1997                           1
1967                           1
2007-                          1
Bicicleta, cullera, poma       1
1909                           1
1937                           1
1903                           1
1948                           1
1901                           1
1928                           1
1987                           1
1963                           1
1961                           1
1902                           1
1975-1979                      1
1984                           1
1938                           1
1962                           1
1900                           1
1978                           1
1929                           1
1998"                          1
1957                           1
1949                           1
2004"                          1
1989                           1
1994                           1
2009–                          1
Name: year, dtype: int64

In [11]:
data_select['year_truncated'] = data_select['year'].map(lambda x: str(x)[:4])

In [12]:
data_select['year_truncated'].value_counts()

2009    1102
2011    1006
2012     997
2013     990
2008     968
2010     946
2007     894
2006     844
2005     732
2014     710
2004     700
2002     676
2003     648
2001     629
2000     609
1998     552
1999     536
1997     525
1996     506
1995     472
1994     429
1993     370
1992     332
1988     320
1990     314
1991     310
1987     308
1989     305
1986     261
1985     252
        ...
1924      28
1921      27
1922      24
1920      19
1919      17
nan       17
1915      17
1923      16
1916      15
1914      12
1917      12
1918       8
1898       5
1912       5
1913       5
1909       3
1910       3
1895       2
1894       2
1896       2
1905       1
1891       1
1902       1
Bici       1
1899       1
1901       1
1903       1
Das        1
1893       1
1900       1
Name: year_truncated, dtype: int64

In [21]:
data_select.loc[data_select["year_truncated"].str.contains("Bici|Das|nan") == True, "year_truncated"] = np.nan

In [22]:
data_select["year_truncated"].value_counts()

2009    1102
2011    1006
2012     997
2013     990
2008     968
2010     946
2007     894
2006     844
2005     732
2014     710
2004     700
2002     676
2003     648
2001     629
2000     609
1998     552
1999     536
1997     525
1996     506
1995     472
1994     429
1993     370
1992     332
1988     320
1990     314
1991     310
1987     308
1989     305
1986     261
1985     252
        ...
1926      34
1925      30
1927      30
1924      28
1921      27
1922      24
1920      19
1915      17
1919      17
1923      16
1916      15
1914      12
1917      12
1918       8
1898       5
1912       5
1913       5
1910       3
1909       3
1894       2
1895       2
1896       2
1900       1
1902       1
1893       1
1903       1
1901       1
1899       1
1905       1
1891       1
Name: year_truncated, dtype: int64

In [24]:
data_select['year_truncated'].describe()

count     26725
unique      118
top        2009
freq       1102
Name: year_truncated, dtype: object

In [26]:
data_select['year_truncated'].isnull().sum()

19